.header{
    width: $w800;
    height: $h52;
    background-color: lighten($fbcolor,10%);
    display: flex;

    a{
        color: aqua;
        text-decoration: none;
    }
    a:hover{
        color: $wcolor;
        text-decoration: underline;
    }
}

.content{
    width: 800px;
    background-color: darken(coral,10%);
    color: white;

    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: #FBF97A;
        text-decoration-line: line-through;
    }
}

.footer{
    width: 800px;
    height: 152px;
    background-color: #057B99;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;

    a{
        color: #AEF55D;
        text-decoration: none;
    }
    a:hover{
        color: white;
        text-decoration-line: line-through;
        font-weight: bolder;
    }
}