@charset "utf-8";
.btn-purple {
  color: #fff;
  background-color: purple;
  border-color: purple;
}

.btn-purple:hover {
  color: #fff;
  background-color: mediumpurple;
  border-color: mediumpurple;
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* new btn color */
.btn-skyblue {
  color: #fff;
  background-color: deepskyblue;
  border-color: deepskyblue;
}

.btn-skyblue:hover {
  color: #fff;
  background-color: skyblue;
  border-color: skyblue;
}

.btn-skyblue:focus, .btn-skyblue.focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 142, 231, 0.5);
}

.btn-skyblue.disabled, .btn-skyblue:disabled {
  color: #fff;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.btn-skyblue:not(:disabled):not(.disabled):active, .btn-skyblue:not(:disabled):not(.disabled).active,
.show > .btn-skyblue.dropdown-toggle {
  color: #fff;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.btn-skyblue:not(:disabled):not(.disabled):active:focus, .btn-skyblue:not(:disabled):not(.disabled).active:focus,
.show > .btn-skyblue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* index.php video index01.php iframe*/
#video-background,.video-background iframe {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}

.video-caption{
    margin-top: 20%;
}

.video-caption.text-center h1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.margintop-30{
    margin-top: 30px;
}

.margintop-30 .btn.btn-warning{
    color: #fff;
}

.jumbotron{
  color: #fff;
  background: url(./images/pic51.jpg);
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 10px;
  min-height: 1365px;
  min-width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 4rem 2rem 4rem 2rem;
}

body{
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 55px;
}

#production{
  padding-top: 40px;
}

#sportlogo{
  padding-top: 40px;
}

#buyrules{
  padding-top: 40px;
  padding-bottom: 50px;
}

.bgcolor{
  color: #ffffff;
  background-color: #e47303;
}

.box{
  border-radius: 6px;
  background-color: #e5e5e5;
}

#footer{
  padding-top: 10px;
  background-color: #2c3e50;
  color: #ffffff;
}

.navbar-nav .nav-item a img{
  margin-top: -15px;
  margin-right: 10px;
}

.dropdown-submenu{
  position: relative;
}

.dropdown-submenu .dropdown-menu{
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-menu.show a:active{
  color: #ffffff;
}